.header-swiper {
  margin: 0 auto;
  width: 98vw;
  height: 300px;
  border-radius: 8px;
  background: #eee;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

.indicators {
  margin-top: 20px;
}
.indicator {
  margin: 0 8px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #d2d8e3;
  transition: .3s;

  &.actived {
    width: 32px;
    background-color: #57565a;
  }
}

.entrys-con {
  position: sticky;
  top: 0;
  margin-top: 40px;
  padding: 0 40px;
  padding-bottom: 25px;
  background: white;

  .entry-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}

.rooms-con {
  margin-top: 20px;
  height: 360px;

  .room {
    width: 330px;
    border-radius: 15px;
    background: #eee;
  }
  .room-big {
    flex-basis: 50%;
    height: 360px;
  }
  .room-small {
    height: 170px;
  }
}

.plays-con {
  margin-top: 40px;
}
