.header-swiper {
  margin: 0 auto;
  width: 100vw;
  height: 300px;
  background: #eee;

  .header-image {
    width: 100%;
    height: 100%;
  }
}

.segment-info {
  padding-bottom: 30px;
  border-top: solid 1px #eee;

  .name-con {
    margin-top: 20px;

    .star {
      line-height: 15px;
      color: rgba(255, 204, 77, 1);
    }
  }

  .tags-con {
    .tag {
      margin-top: 10px;
      margin-right: 8px;
      padding: 2px 8px;
      min-width: 30px;
      height: 24px;
      line-height: 24px;
      border: solid 1PX #eee;
      border-radius: 3px;
    }
    .meta-tag {
      border: solid 1PX #f0cfcf;
    }
  }

  .block-intro {
    .intro {
      line-height: 28px;
    }
  }
}

.roles-con {
  border-radius: 8px;
  background: #fafafa;

  .roles-avatar-con {
    margin-top: 20px;
    padding: 25px 30px;

    .role {
      min-width: 80px;
      margin-right: 20px;
      transition: .1s;
      transform: scale(.8,.8);
      &.acitve {
        transition: .1s;
        transform: scale(1,1);
      }

      .role-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      .role-name {
        margin-top: 8px;
        font-size: 24px;
      }
    }
  }
  .role-intro {
    border-top: solid 1px #eee;
    background: #fafafa;
    padding: 25px 30px 30px 30px;
    line-height: 30px;
    height: 100px;
    min-height: 150px;

    .intro {
      min-height: 100px;
    }
  }
}
