.header-swiper {
  margin: 0 auto;
  width: 100vw;
  height: 300px;
  background: #eee;

  .header-image {
    width: 100%;
    height: 100%;
  }
}

.segment-info {
  padding-bottom: 30px;
  border-top: solid 1px #eee;

  .name-con {
    margin-top: 20px;

    .star {
      line-height: 15px;
      color: rgba(255, 204, 77, 1);
    }
  }

  .tags-con {
    .tag {
      margin-top: 10px;
      margin-right: 8px;
      padding: 2px 8px;
      min-width: 30px;
      height: 24px;
      line-height: 24px;
      border: solid 1PX #eee;
      border-radius: 3px;
    }
    .meta-tag {
      border: solid 1PX #f0cfcf;
    }
  }

  .block-intro {
    .intro {
      line-height: 28px;
    }
  }
}

.roles-con {
  position: relative;
  border-radius: 8px;
  background: #fafafa;

  .roles-avatar-con {
    margin-top: 20px;
    padding: 25px 30px;

    .role {
      min-width: 80px;
      margin-right: 20px;
      transition: .1s;
      transform: scale(.8,.8);
      &.acitve {
        transition: .1s;
        transform: scale(1,1);
      }

      .role-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      .role-name {
        margin-top: 8px;
        font-size: 24px;
      }
    }
  }
  .role-intro {
    border-top: solid 1px #eee;
    background: #fafafa;
    padding: 25px 30px 30px 30px;
    line-height: 30px;
    min-height: 150px;
    transition: .1s;

    .info-item {
      display: flex;
      margin-top: 6px;
    }
    .info-title {
      display: inline-block;
      min-width: 80px;
      flex-shrink: 0;
      font-size: 22px;
      font-weight: bold;
    }
    .info-content {
      display: inline-block;
      margin-left: 12px;
      font-size: 22px;
      color: #444;
      letter-spacing: 1px;
    }
  }
  .mask {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(250,250,250,1), rgba(250,250,250,.1));
  }
}
