/** line con */

.details-line {
  margin: 10px 0 20px 0;
  width: 100%;
  height: 3px;
  background: #999;
}

/** text con */

.details-text-con,
.details-letter-con {
  padding-bottom: 20px;
  line-height: 35px;
  color: #444;
}

/** letter con */

.details-letter-con {
  padding: 20px;
  border: solid 1px #eee;
  border-radius: 8px;
}

/** image con */

.details-image-con {
  margin-top: 15px;
  padding-bottom: 10px;

  .details-image {
    width: 100%;
    border-radius: 8px;
  }
}
