@play-height: 140px;

.play-image {
  width: 200px;
  height: @play-height;
  background: #eee;
}

.content-con {
  margin-left: 30px;
  height: @play-height;
}

.tag {
  margin-right: 8px;
  padding: 2px 8px;
  min-width: 30px;
  height: 24px;
  line-height: 24px;
  border: solid 1PX #eee;
  border-radius: 3px;
}
